<!DOCTYPE html>
<meta http-equiv="content-type" content="text/html" charset="UTF-8"/>
  <head>
    <title>Talk in English</title>


<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<!-- AngularJS -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"></script>

<!-- Firebase -->
<!--<script src="https://www.gstatic.com/firebasejs/3.3.0/firebase.js"></script>-->

<!-- AngularFire -->
<script src="https://cdn.firebase.com/libs/angularfire/2.0.1/angularfire.min.js"></script>

<!--facebook login-->
<script src="https://connect.facebook.net/en_US/sdk.js"></script>

<script src="https://www.gstatic.com/firebasejs/3.2.0/firebase.js"></script>

<script src="js/fbAuth.js"></script>
<script src="js/app.js"></script>
<script src="js/dummy.js"></script>
  </head>
<body ng-app="TalkInEnglish" ng-controller="MainCtrl">



{{loadData("")}}
<div class="jumbotron">
  <input id="loginButton" type="button" value="Login with Facebook" ng-click="fbLogin()" />
  <input id="logoutButton" type="button" value="Logout from Facebook" ng-click="fbLogout()" />
  <input id="testAPIButton" type="button" value="use test API (disabled)" onclick="testAPI()" />
  <input id="checkStatusButton" type="button" value="check login status" onclick="checkAndHandleLoginState()" />
  <br><br>

  <font size="1"> &nbsp; account ID: {{amazon_id}}</font></br>
  <span>users list: </span><button ng-repeat="(key, users) in users_list" ng-click="loadInfo(key,'')">{{key}}</button>
  <h2> &nbsp; LOGGED IN AS: {{user.$id}}</h2>
  <h4> &nbsp; CURRENT LEVEL: {{user.level}}</h4>
  <h4> &nbsp; CURRENT sentence: {{user.current_text}}</h4>
  <p align="right"></p>

  <p align="right">Score: <button class="btn btn-primary" type="button">
  Today <span class="badge">{{user.today.success}}/{{user.today.total}}</span>
</button>
  <button class="btn btn-primary" type="button">
  Overall <span class="badge">{{user.success}}/{{user.total}}</span>
</button>
  </p>
</div>

<H3>Recent Incorrect Words</H3>
<button ng-repeat="(key, word) in incorrect_words"  type="button">
  {{word.$id}} <!--<span class="badge">{{-word.$value}}</span>&nbsp;-->
</button>

<H3>Recent Results (Latest 20)</H3>
<table class="table">
  <thead>
    <tr>
      <th>Level</th>
      <th>Text</th>
      <th>Accuracy</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="result in results"
        ng-class="result.accuracy>0.8 ? 'success' : 'danger'">
      <td>{{result.level}}</td>
      <td ng-bind-html="result.sentence | del2html"/></td>
      <td>{{result.accuracy}}</td>
    </tr>
  </tbody>
</table>

<H3>Level stats</H3>
<table class="table">
  <thead>
    <tr>
      <th>Level</th>
      <th>Correct count</th>
      <th>Play count</th>
      <th>Accuracy</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="(key, level) in level_stats"
        ng-class="primary">
      <td>{{key}}</td>
      <td>{{level.correct}}</td>
      <td>{{level.play}}</td>
      <td>{{level.play==0?(0):((level.correct/level.play)*100)}}%</td>
    </tr>
  </tbody>
</table>

</body>
</html>
