<!DOCTYPE html>
<html ng-app="myModule">
  <head>
    <title>Parrot Admin Console</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--styles-->
    <link href="https://code.jquery.com/ui/1.10.3/themes/redmond/jquery-ui.css" rel="stylesheet" media="screen">
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">

    <!-- UI scripts dependencies -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

    <!-- jquery dependencies -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <!--bootstrap script dependencies -->
    <script src="bootstrap/js/bootstrap.min.js"></script>

    <!-- firebase dependencies -->
    <script src="https://www.gstatic.com/firebasejs/3.3.0/firebase.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
    <!-- angular.js dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
    <script src="js/dependencies/angularfire.min.js"></script>
    <!-- scripts -->
    <script src="js/runtimeLogger.js"></script>
    <script src="js/custom.js"></script>
    <script>var DB_REF_OVERRIDE;</script>
    <script src="js/sentences.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <style>
      .clickable { /* Containing div must have a position value */
          position:relative;
      }
      .clickable a {
          position:absolute;
          width:100%;
          height:100%;
          top:0;
          left:0;
          text-decoration:none; /* Makes sure the link   doesn't get underlined */
          z-index:10; /* raises anchor tag above everything else in div */
          background-color:white; /*workaround to make clickable in IE */
          opacity: 0; /*workaround to make clickable in IE */
          filter: alpha(opacity=1); /*workaround to make clickable in IE */
      }
    </style>
  </head>
  <body>

  	<div class="header">
	     <div class="container">
	        <div class="row">
	           <div class="col-md-5">
	              <!-- Logo -->
	              <div class="logo">
	                 <h1><a href="index.html">Parrot Admin Console</a></h1>
	              </div>
	           </div>
	           <div class="col-md-5">
	           </div>
             <div class="col-md-2">
	              <div class="navbar navbar-inverse" role="banner">
	                  <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
	                    <ul class="nav navbar-nav">
	                      <li class="dropdown">
	                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Administrator <b class="caret"></b></a>
	                        <ul class="dropdown-menu animated fadeInUp">
	                          <li><a href="#">Logout</a></li>
	                        </ul>
	                      </li>
	                    </ul>
	                  </nav>
	              </div>
	           </div>
	        </div>
	     </div>
	  </div>

    <div class="page-content">
    	<div class="row">
		  <div class="col-md-2">
		  	<div class="sidebar content-box" style="display: block;">
                <ul class="nav">
                    <!-- Main menu -->
                    <li><a href="index.html"><i class="glyphicon glyphicon-home"></i> Dashboard</a></li>
                    <li class="current"><a href="sentences.html"><i class="glyphicon glyphicon-list"></i> Sentences </a></li>
                    <li><a href="test_sentences.html"><i class="glyphicon glyphicon-list"></i> Test Sentences </a></li>
                    <li><a href="trial_sentences.html"><i class="glyphicon glyphicon-list"></i> Trial Sentences </a></li>
                    <li><a href="users.html"><i class="glyphicon glyphicon-list"></i> Users </a></li>
                    <li><a href="settings.html"><i class="glyphicon glyphicon-list"></i> Settings </a></li>
                </ul>
             </div>
		  </div>
		  <div class="col-md-10">

        <div class="row">
          <div class="content-box-header">
            <div class="panel-title">Sentences DataTable <b><span style="color:orange;" id="loadMsg"></span></b></div>
          </div>
    			<div class="content-box-large" ng-controller="databaseViewController">
    				<div class="panel-body">

              <div>
                Search (sentence) <input type="text" ng-model="searchValue">
                Search (level) <input type="text" ng-model="searchLevelValue" placeholder="* to select all">
                <!--Level
                <select ng-model="levelValue" ng-change="onLevelChange()">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="all">all</option>
                </select>-->
              </div>

              <br>

    					<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="example">
    						<thead>
    							<tr ng-controller="sentencesSortController">
    								<th class="clickable" ng-click="changeSortRule(0)">
                      <a href=""></a>Level <b style="color:red;">{{sort_arrow_0}}</b>
                    </th>
    								<th class="clickable" width="50%" ng-click="changeSortRule(1)">
                      <a href=""></a>Sentence <b style="color:red;">{{sort_arrow_1}}</b>
                    </th>
    								<th class="clickable" ng-click="changeSortRule(2)">
                      <a href=""></a>used <b style="color:red;">{{sort_arrow_2}}</b>
                    </th>
    								<th class="clickable" ng-click="changeSortRule(3)">
                      <a href=""></a>correct <b style="color:red;">{{sort_arrow_3}}</b>
                    </th>
    								<th class="clickable" ng-click="changeSortRule(4)">
                      <a href=""></a>accuracy <b style="color:red;">{{sort_arrow_4}}</b>
                    </th>
                    <th></th>
    							</tr>
    						</thead>
    						<tbody>
                  <tr ng-controller="sentenceSubmitController">
    								<td><input style="width:35px;" type="text" ng-model="level"></input></td>
    								<td><input style="width:100%;" type="text" ng-model="sentence"></input></td>
    								<td class="center"></td>
    								<td class="center"></td>
                    <td class="center"></td>
                    <td>
                      <button type="submit" class="btn btn-primary" ng-click="submitSentence(this)">add new</button>
                    </td>
    							</tr>
    							<tr ng-repeat="(key, node) in data | filter:filterByString | sentencesSortFilter">
    								<td><input style="width:35px;" type="text" ng-model="node.level" value={{node.level}} ng-change="update(node, node.level, node.sentence)" ng-model-options="{debounce:1500}"></input></td>
    								<td><input style="width:100%;" type="text" ng-model="node.sentence" value={{node.sentence}} ng-change="update(node, node.level, node.sentence)" ng-model-options="{debounce:1500}"></input></td>
    								<td class="center">{{node.used}}</td>
    								<td class="center">{{node.correct}}</td>
                    <td class="center">{{(node.accuracy*100)+"%"}}</td>
                    <td class="center">
                      <!--<button ng-click="update(node, node.level, node.sentence)">update</button>
                      <span style="margin-left:15px;"></span>-->
                      <button style="background-color:red;color:white;" ng-click="remove(node)">X</button>
                    </td>
    							</tr>
    						</tbody>
    					</table>
              <p>showing {{list_length}} items of {{list_length}}</p>
    				</div>
          </div>
        </div>

        <div class="row" ng-controller="sentenceSubmitController">
          <div class="content-box-large box-with-header">
            <fieldset>
              <div class="form-group">
                <label class="col-md-3 control-label">Batch sentences upload</label>
                <div class="col-md-5">
                  <input type="file" class="btn btn-default" id="inputFile">
                  <p class="help-block">
                    Create and submit .json or .txt file<br>
                    example content of the file:<br>
                    [<br>
                    &nbsp;&nbsp;{"level":1,"sentence":"some sentence"},<br>
                    &nbsp;&nbsp;{"level":7,"sentence":"another sentence"},<br>
                    &nbsp;&nbsp;{"level":2,"sentence":"blahh"}<br>
                    ]
                  </p>
                </div>
                <div class="col-md-4">
                  <button type="submit" class="btn btn-primary" id="addSentences" ng-click="batchUpload(false)">add sentences</button>
                  <!--<button type="submit" class="btn btn-primary" id="addSentences" ng-click="batchUpload(true)">test sentences</button>-->
                </div>
              </div>

            </fieldset>
          </div>
        </div>

		  </div>
		</div>
    </div>

    <footer>
       <div class="container">

          <div class="copy text-center">

          </div>

       </div>
    </footer>

  </body>
</html>
